<div class="text-center font-medium text-xl py-1 mb-6">
    {% if followers %}Followers{% else %}Following{% endif %}
</div>

{% if accounts %}
    {% for this_user in accounts %}
        <article class="flex items-center justify-between bg-neutral-100 rounded-xl p-4 mx-4 mb-4">
            <a href="{% url 'profile' this_user.username %}" class="flex items-center gap-3">
                <div class="size-12 rounded-full overflow-hidden">
                    <img src="{{ this_user.avatar }}" class="w-full h-full object-cover">
                </div>
                <div>
                    <div class="font-medium hover:underline">
                        {{ this_user.username }}
                    </div>
                    <div class="text-sm">
                        {{ this_user.name }}
                    </div>
                </div>
            </a>
            {% if this_user != user %}
                {% include "a_network/partials/_follow_rounded.html" with modal=True %}
            {% endif %}
        </article>
    {% endfor %}
{% else %}
     <p class="flex items-center justify-center font-medium text-neutral-400 text-sm">
        {% if followers %}
            No followers yet. Be the first one!
        {% else %}
            No accounts following
        {% endif %}
    </p>
{% endif %}