{% if profile_posts_bookmarked %}
<div class="grid gap-4 grid-cols-2 md:grid-cols-[repeat(auto-fill,_minmax(170px,_1fr))] py-4">         
    {% for post in profile_posts_bookmarked %}
    <div id="bookmarked_post_{{ post.uuid }}">
    {% include 'a_users/partials/_profile_post.html' %}
    </div>
    {% endfor %}
</div>
{% else %}
<div class="text-center pt-32">
    <div class="font-bold text-2xl">Favorite posts</div>
    {% if profile_user == user %}
    <div class="mt-2">Your favorite posts will appear here</div>
    {% endif %}
</div>
{% endif %}