{% for comment in post.parent_comments %}
{% include "a_posts/partials/comments/_comment.html" %}
{% empty %}
<div class="text-center text-neutral-400 text-sm">Be the first to comment!</div>
{% endfor %}

{% if request.htmx %}

<!-- Swap with new add comment form -->
<div hx-swap-oob="innerHTML" id="add_comment">
    {% include "a_posts/partials/comments/_form_add_comment.html" %}
</div>

<!-- Update comment count -->
<div hx-swap-oob="innerHTML" id="comment_count">{{ post.comments.count }}</div>

{% endif %}