<form x-data="{ input: '' }" class="flex mt-3"
    hx-post="{% url 'comment' current_comment.uuid %}" 
    hx-target="#replies_container_{{ comment.uuid }}"
    hx-swap="innerHTML">
    {% csrf_token %}
    <input x-model="input" type="text" name="reply" placeholder="Add a reply..." class="grow bg-neutral-100 dark:bg-neutral-800 rounded-lg px-4 py-2 text-sm placeholder-neutral-500 outline-none border border-transparent focus:border-neutral-300 dark:focus:border-neutral-800">
    <button :type="input ? 'submit' : 'button'" class="shrink-0 ml-2 px-4 font-medium" :class="input ? 'text-red-500' : 'text-neutral-400 !cursor-not-allowed'">Post</button>
    <button @click="$el.closest('form').remove()"
            type="button" class="mr-2">
            <div class="size-6 hover:fill-neutral-400">
                <svg viewBox="0 0 48 48">
                    <path d="M38.7 12.12a1 1 0 0 0 0-1.41l-1.4-1.42a1 1 0 0 0-1.42 0L24 21.17 12.12 9.3a1 1 0 0 0-1.41 0l-1.42 1.42a1 1 0 0 0 0 1.41L21.17 24 9.3 35.88a1 1 0 0 0 0 1.41l1.42 1.42a1 1 0 0 0 1.41 0L24 26.83 35.88 38.7a1 1 0 0 0 1.41 0l1.42-1.42a1 1 0 0 0 0-1.41L26.83 24 38.7 12.12Z"></path>
                </svg>
            </div>
    </button>
</form>