<form x-data="{ input: '' }" class="flex"
    hx-post="{% url 'post_page' post.uuid %}" 
    hx-target="#comments_container"
    hx-swap="innerHTML">
    {% csrf_token %}
    <input x-model="input" type="text" name="comment" placeholder="Add commment..." autocomplete="off" class="grow bg-neutral-100 dark:bg-neutral-800 rounded-lg px-4 py-2 text-sm placeholder-neutral-500 outline-none border border-transparent focus:border-neutral-300 dark:focus:border-neutral-800">
    <button :type="input ? 'submit' : 'button'" class="shrink-0 ml-2 px-4 font-medium" :class="input ? 'text-red-500' : 'text-neutral-400 !cursor-not-allowed'">Post</button>
</form>