{% for comment in comment.replies.all reversed %}
    {% include "a_posts/partials/comments/_reply.html" %}
{% endfor %}

<button hx-get="{% url 'comment' comment.uuid %}?hide_replies=true"
        hx-target="#replies_container_{{ comment.uuid }}"
        hx-swap="innerHTML"
        class="mt-3 flex items-center gap-2 text-gray-500 hover:text-gray-400">
        <span class="text-sm font-medium">
            Hide replies
        </span>
        <div class="size-3.5 rotate-180">
            <svg fill="currentColor" viewBox="0 0 48 48">
                <path d="m24 27.76 13.17-13.17a1 1 0 0 1 1.42 0l2.82 2.82a1 1 0 0 1 0 1.42L25.06 35.18a1.5 1.5 0 0 1-2.12 0L6.59 18.83a1 1 0 0 1 0-1.42L9.4 14.6a1 1 0 0 1 1.42 0L24 27.76Z"></path>
            </svg>
        </div>
</button>


<!-- Remove reply form -->
<div hx-swap-oob="outerHTML" id="reply_form_{{ comment.uuid }}"></div>

<!-- Update comment count -->
<div hx-swap-oob="innerHTML" id="comment_count">{{ comment.post.comments.count }}</div>