<div id="message-{{ message.id }}" class="flex {% if message.sender == user %}justify-end{% else %}justify-start{% endif %}">
    <div class="flex items-end gap-2 max-w-[70%] group relative">

        {% if message.image %}
            <img src="{{ message.image.url }}" class="max-w-lg min-w-0 rounded-xl {% if message.sender == user %}order-1{% else %}order-2{% endif %}">
        {% elif message.emoji_only %}
            <div class="text-5xl {% if message.sender == user %}order-1{% else %}order-2{% endif %}">
                {{ message.body }}
            </div>
        {% else %}
            <div class="px-4 py-2 rounded-xl {% if message.sender == user %}bg-blue-500 text-white rounded-br-sm order-1{% else %}bg-neutral-200 dark:bg-neutral-800 rounded-bl-sm order-2{% endif %}">
                {{ message.body }}
            </div>
        {% endif %}

        <img src="{{ message.sender.avatar }}" class="size-8 rounded-full object-cover {% if message.sender == user %}order-2{% else %}order-1{% endif %}">

        {% if message.sender == user %}
            <button class="absolute -left-3 bottom-0 hidden group-hover:flex items-center justify-center size-7 rounded-full bg-neutral-100 hover:bg-neutral-200 dark:bg-neutral-800 dark:hover:bg-neutral-700"
                    hx-delete="{% url 'delete_message' message.id %}"
                    hx-target="#message-{{ message.id }}" 
                    hx-swap="outerHTML">
                    <div class="size-4">
                        <svg viewBox="0 0 48 48">
                            <path d="M38.7 12.12a1 1 0 0 0 0-1.41l-1.4-1.42a1 1 0 0 0-1.42 0L24 21.17 12.12 9.3a1 1 0 0 0-1.41 0l-1.42 1.42a1 1 0 0 0 0 1.41L21.17 24 9.3 35.88a1 1 0 0 0 0 1.41l1.42 1.42a1 1 0 0 0 1.41 0L24 26.83 35.88 38.7a1 1 0 0 0 1.41 0l1.42-1.42a1 1 0 0 0 0-1.41L26.83 24 38.7 12.12Z"></path>
                        </svg>
                    </div>
            </button>
        {% endif %}

    </div>
</div>