{% extends "layouts/main-layout.html" %}

{% block title %}Delete Account - {% endblock %}

{% block content %}
<div class="ml-18 lg:ml-60 px-12 flex justify-center">
    <div class="mt-48 text-center">
        <h1>Delete Account</h1>
        <p>Are you sure you want to delete your account?</p>
        <form method="POST" class="mt-5">
            {% csrf_token %}
            <button type="submit" class="bg-red-600 font-bold text-white rounded-md px-7 py-4">
                Yes, I want to delete my account
            </button>
        </form>
        <div class="mt-4">
            <a href="{% url 'profile' user.username %}" class="font-medium text-neutral-400 hover:underline">
            Cancel 
            </a>
        </div>
    </div>
</div>
{% endblock %}