{% extends "layouts/main-layout.html" %}
{% load static %}

{% block meta_tags %}
<meta property="og:title" content="{{ profile_user.username }}'s profile page">
<meta property="og:description" content="Check out {{ profile_user.username }}'s latest posts!">
<meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{{ profile_user.avatar }}">
<meta property="og:type" content="profile">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ profile_user.username }}'s profile page">
<meta name="twitter:description" content="Check out {{ profile_user.username }}'s latest posts!">
<meta name="twitter:image" content="{{ request.scheme }}://{{ request.get_host }}{{ profile_user.avatar.url }}">
{% endblock %}

{% block title %}{{ profile_user.username }} - {% endblock %}

{% block content %}
{% include "a_users/partials/_profile.html" %}
{% endblock %}