{% load static %}
<div id="explore_page" x-data="{ selectedTag: '{{ selected_tag|default:'' }}' }" class="ml-18 lg:ml-60 px-12">
    <div class="py-9">
        <ul class="flex gap-3">
            <li>
                <a hx-get="{% url 'explore' %}"
                    hx-target="#explore_page"
                    hx-swap="outerHTML"
                    hx-push-url="true"
                    class="cursor-pointer rounded-lg p-3 font-medium"  
                    :class="!selectedTag ? 'bg-black dark:bg-white text-white dark:text-black' : 'bg-neutral-100 dark:bg-neutral-900'">
                    All
                </a>
            </li>

            {% for tag in tags %}
            <li>
                <a hx-get="{% url 'explore' %}?tag={{ tag.name }}" 
                    hx-target="#explore_page"
                    hx-swap="outerHTML"
                    hx-push-url="true"
                    class="cursor-pointer rounded-lg p-3 font-medium" 
                    :class="selectedTag === '{{ tag.name }}' ? 'bg-black dark:bg-white text-white dark:text-black' : 'bg-neutral-100 dark:bg-neutral-900'">
                    {{ tag.name }} 
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="grid gap-x-4 gap-y-6 grid-cols-2 lg:grid-cols-[repeat(auto-fill,_minmax(280px,_1fr))] pb-6">
        
        {% for post in posts %}
        {% include 'a_posts/partials/_post_card.html' %}
        {% endfor %}

    </div>
</div>

{% if request.htmx %}
<title hx-swap-oob="true">Explore - KokKokKok</title>

<div hx-swap-oob="innerHTML" id="navigation">
    {% include "includes/navigation.html" %}
</div>
{% endif %}