<button hx-get="{% url 'like_post' post.uuid %}?home=true"
        hx-swap="outerHTML"
        id="like" class="cursor-pointer">
        <div class="button-article dark:!bg-neutral-800 hover:dark:!bg-neutral-900">
            <div class="size-6 {% if user in post.likes.all %}fill-rose-500{% endif %}">
                <svg viewBox="0 0 24 24">
                    <path d="M7.5 2.25C10.5 2.25 12 4.25 12 4.25C12 4.25 13.5 2.25 16.5 2.25C20 2.25 22.5 4.99999 22.5 8.5C22.5 12.5 19.2311 16.0657 16.25 18.75C14.4095 20.4072 13 21.5 12 21.5C11 21.5 9.55051 20.3989 7.75 18.75C4.81949 16.0662 1.5 12.5 1.5 8.5C1.5 4.99999 4 2.25 7.5 2.25Z"></path>
                </svg>
            </div>
        </div>
        <p class="font-bold text-xs text-neutral-600 dark:text-neutral-400 pt-1">
            {{ post.likes.count }}
        </p>
</button>