{% load static %}
{% if posts %}
{% for post in posts %}
<article data-index="{{ forloop.counter0|add:page_start_index }}" class="h-full mx-auto py-2 px-4 flex justify-center items-center snap-center">
    <div class="relative bg-black max-h-full max-w-full lg:h-full rounded-2xl aspect-[9/16] flex justify-center items-center">

        {% if post.video %}
        <div x-data="videoPlayer('{{ post.video.url }}')" class="relative w-full h-full group">
            <video class="h-full w-full rounded-2xl object-cover cursor-pointer"
                :src="src" autoplay muted loop playsinline
                x-ref="videoPlayer"
                @play="playing = true"
                @pause="playing = false"
                @click="togglePlay">
            </video>
            <button class="absolute inset-0 flex justify-center items-center pointer-events-none">
                <div x-show="showTapIcon" x-cloak class="size-18 fill-white bg-black/50 p-3 rounded-full play-button-anim">
                    <div x-show="playing">
                        <svg viewBox="0 0 24 24">
                            <path d="M8 5v14l11-7z"></path>
                        </svg>
                    </div>
                    <div x-show="!playing">
                        <svg viewBox="0 0 24 24">
                            <path d="M6 5h4v14H6zm8 0h4v14h-4z"></path>
                        </svg>
                    </div>
                </div>
            </button>
            <button @click="toggleMute" class="absolute top-4 left-4 bg-black/20 p-3 rounded-full z-20 opacity-0 group-hover:opacity-100 transition-opacity">
                <div class="size-5 fill-white">
                    <div x-show="!muted" >
                        <svg viewBox="0 0 48 48">
                            <path d="M7 16a3 3 0 0 0-3 3v11.17a3 3 0 0 0 3 3h4.2a2 2 0 0 1 1.46.63l8.88 9.5A2 2 0 0 0 25 41.93V6.4a2 2 0 0 0-3.51-1.3L12.67 15.3a2 2 0 0 1-1.52.7H7ZM37.43 37.44a1.04 1.04 0 0 1-.02-1.44 18.17 18.17 0 0 0 0-24 1.04 1.04 0 0 1 .02-1.43l1.42-1.42a.97.97 0 0 1 1.4.02 22.2 22.2 0 0 1 0 29.66c-.38.41-1.01.41-1.4.02l-1.42-1.41Z"></path><path d="M31.03 18.38a1.1 1.1 0 0 1 .04-1.45l1.41-1.42a.94.94 0 0 1 1.39.03 13.12 13.12 0 0 1 0 16.92.94.94 0 0 1-1.39.03l-1.41-1.42a1.1 1.1 0 0 1-.04-1.45c2.6-3.24 2.6-8 0-11.24Z"></path>
                        </svg>
                    </div>
                    <div x-show="muted" >
                        <svg viewBox="0 0 48 48">
                            <path d="M3 19v11.17a3 3 0 0 0 3 3h4.2a2 2 0 0 1 1.46.63l8.88 9.5A2 2 0 0 0 24 41.93V6.4a2 2 0 0 0-3.51-1.3L11.67 15.3a2 2 0 0 1-1.52.7H6a3 3 0 0 0-3 3ZM29.3 18.12 35.16 24l-5.88 5.88a1 1 0 0 0 0 1.41l1.42 1.42a1 1 0 0 0 1.41 0L38 26.83l5.88 5.88a1 1 0 0 0 1.41 0l1.42-1.42a1 1 0 0 0 0-1.41L40.83 24l5.88-5.88a1 1 0 0 0 0-1.41l-1.42-1.42a1 1 0 0 0-1.41 0L38 21.17l-5.88-5.88a1 1 0 0 0-1.41 0l-1.42 1.42a1 1 0 0 0 0 1.41Z"></path>
                        </svg>
                    </div>
                </div>
            </button>
        </div>
        {% elif post.image %}
        <button @click="modalPage = true; returnUrl = window.location.pathname;" 
                hx-get="{% url 'post_page' post.uuid %}" 
                hx-target="#modalpage-content"
                hx-swap="innerHTML"
                hx-push-url="true"
                class="absolute inset-0 z-10">
        </button> 
        <img src="{{ post.image.url }}" class="h-full w-full rounded-2xl object-cover select-none pointer-events-none">
        {% endif %}

        <article-info class="absolute bottom-0 left-0 right-0 z-20 pointer-events-none">
            <div class="absolute bottom-0 p-5 text-white z-10">
                {% if post.author %}
                <a href="{% url 'profile' post.author.username %}" class="hover:underline pointer-events-auto">{{ post.author }}</a>
                {% endif %}
                {% if post.tags.exists %}
                <div class="mt-1">
                    {% for tag in post.tags.all %}
                    <a href="{% url 'search' %}?q={{ tag.name }}" class="hover:underline pointer-events-auto mr-2">{{ tag }}</a>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="h-64 w-full bg-gradient-to-t from-black to-transparent opacity-30 rounded-b-2xl"></div>
        </article-info>

        <article-buttons class="absolute -right-17 bottom-0 flex flex-col gap-2">
            
            <div id="author_home_{{ post.uuid }}">
            {% include 'a_posts/partials/_author_home.html' %}
            </div>

            <div id="like_home_{{ post.uuid }}">
            {% include 'a_posts/partials/_like_home.html' %}
            </div>
            
            <button id="comments" 
                    @click="modalPage = true; returnUrl = window.location.pathname;"
                    hx-get="{% url 'post_page' post.uuid %}"
                    hx-target="#modalpage-content"
                    hx-swap="innerHTML"
                    hx-push-url="true">
                <div class="button-article dark:!bg-neutral-800 hover:dark:!bg-neutral-900">
                    <div class="size-6">
                        <svg viewBox="0 0 48 48">
                            <path fill-rule="evenodd" d="M2 21.5c0-10.22 9.88-18 22-18s22 7.78 22 18c0 5.63-3.19 10.74-7.32 14.8a43.6 43.6 0 0 1-14.14 9.1A1.5 1.5 0 0 1 22.5 44v-5.04C11.13 38.4 2 31.34 2 21.5M14 25a3 3 0 1 0 0-6 3 3 0 0 0 0 6m10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6m13-3a3 3 0 1 1-6 0 3 3 0 0 1 6 0" clip-rule="evenodd"></path>
                        </svg>
                    </div>
                </div>
                <p class="font-bold text-xs text-neutral-600 dark:text-neutral-400 pt-1">
                    {{ post.comments.count }}
                </p>
            </button>
            
            <div id="bookmark_home_{{ post.uuid }}">
            {% include 'a_posts/partials/_bookmark_home.html' %}
            </div>

            <button id="share" class="cursor-pointer"
                    @click="modalBox = true" 
                    hx-get="{% url 'share_post' post.uuid %}"
                    hx-target="#modalbox-content"
                    hx-swap="innerHTML">
                    <div class="button-article dark:!bg-neutral-800 hover:dark:!bg-neutral-900">
                        <div class="size-6">
                            <svg viewBox="0 0 20 20">
                                <path d="M10.938 3.175a.674.674 0 0 1 1.138-.488l6.526 6.215c.574.547.554 1.47-.043 1.991l-6.505 5.676a.674.674 0 0 1-1.116-.508V13.49s-6.985-1.258-9.225 2.854c-.209.384-1.023.518-.857-1.395.692-3.52 2.106-9.017 10.082-9.017z" clip-rule="evenodd"></path>
                            </svg>
                        </div>
                    </div>
                    <p class="font-bold text-xs text-neutral-600 dark:text-neutral-400 pt-1">
                        {{ post.reposts.count }}
                    </p>
            </button>

            {% if post.is_repost and post.author %}
            <button id="author" class="relative cursor-pointer flex justify-center mb-4">
                <a href="{% url 'profile' post.author.username %}" class="rounded-full size-9 bg-neutral-100 overflow-hidden">
                    <img src="{{ post.author.avatar }}" class="w-full h-full object-center object-cover">
                </a>
            </button>
            {% endif %}

        </article-buttons>
    </div>
</article>
{% endfor %}
{% else %}
<div class="h-full mx-auto flex justify-center items-center">
    <a href="{% url 'explore' %}" class="hover:underline font-medium text-neutral-400 text-sm">
        Explore accounts to follow
    </a>
</div>
{% endif %}

{% if next_page %}
<div
    hx-get="{% url 'home' %}?paginator=true&page_number={{ next_page }}"
    hx-trigger="intersect once"
    hx-swap="outerHTML" >
</div>
{% endif %}



<script>

window.userWantsSound = false;
window.currentlyPlayingVideo = null;

function videoPlayer(src) {
    return {
        src,
        playing: false,
        muted: !window.userWantsSound,
        userPaused: false,
        ready: false,
        showTapIcon: false,

        init() {
            const video = this.$refs.videoPlayer;

            this.muted = !window.userWantsSound;
            video.muted = this.muted;

            this.observeVideo(video);
            this.ready = true;
        },

        observeVideo(video) {
            const observer = new IntersectionObserver(([entry]) => {
                if (window.pauseAllVideosFlag) {
                    // If modal is open, force pause and mute
                    video.pause();
                    video.muted = true;
                    return;
                }

                if (entry.isIntersecting && !this.userPaused) {
                    if (window.currentlyPlayingVideo && window.currentlyPlayingVideo !== video) {
                        window.currentlyPlayingVideo.pause();
                    }
                    window.currentlyPlayingVideo = video;
                    video.play().catch(() => {});
                } else if (!entry.isIntersecting) {
                    if (window.currentlyPlayingVideo === video) {
                        window.currentlyPlayingVideo = null;
                    }
                    video.pause();
                }
            }, { threshold: 0.6 });
            observer.observe(video);
        },

        togglePlay() {
            const video = this.$refs.videoPlayer;
            if (video.paused) {
                this.userPaused = false;
                this.playing = true;
                this.$nextTick(() => this.showTapIcon = true);
                if (window.currentlyPlayingVideo && window.currentlyPlayingVideo !== video) {
                    window.currentlyPlayingVideo.pause();
                }
                window.currentlyPlayingVideo = video;
                video.play();
            } else {
                this.userPaused = true;
                this.playing = false;
                this.$nextTick(() => this.showTapIcon = true);
                video.pause();
                if (window.currentlyPlayingVideo === video) window.currentlyPlayingVideo = null;
            };

            this.$nextTick(() => {
                this.showTapIcon = true;
            });

            setTimeout(() => {
                this.showTapIcon = false;
            }, 700); 
        },

        toggleMute() {
            const video = this.$refs.videoPlayer;
            this.muted = !this.muted;
            video.muted = this.muted;
            window.userWantsSound = !this.muted;
        }
    }
}

document.body.addEventListener('htmx:afterSwap', (e) => {
    if (e.target.id !== 'modalpage-content') return;
    document.querySelectorAll('video[x-ref="videoPlayer"]').forEach(video => {
        video.muted = true;
        video.load();
    });
});

</script>