{% load network_tags %}
<button id="follow_rounded_{{ this_user.username }}"
        hx-get="{% url 'follow' this_user.username %}?follow_rounded=true{% if modal %}&modal=True{% endif %}"
        {% if not follow_clicked %}hx-swap="none"{% else %}hx-swap-oob="outerHTML"{% endif %}>
        {% if user|is_following:this_user %}
        <div class="bg-neutral-200/70 hover:bg-neutral-200 {% if not modal %}dark:bg-neutral-700 dark:hover:bg-neutral-600{% endif %} rounded-full px-5 py-1 font-medium">
            Following
        </div>
        {% else %}
        <div class="bg-rose-500 hover:bg-rose-600 text-white rounded-full px-5 py-1 font-medium">
            Follow
        </div>
        {% endif %}
</button>

{% if request.htmx %}

<span id="following_count_{{ this_user.username }}" hx-swap-oob="innerHTML">{{ this_user.is_follower.count }}</span>
<span id="followers_count_{{ this_user.username }}" hx-swap-oob="innerHTML">{{ this_user.is_followed.count }}</span>

<span id="following_count_{{ user.username }}" hx-swap-oob="innerHTML">{{ user.is_follower.count }}</span>
<span id="followers_count_{{ user.username }}" hx-swap-oob="innerHTML">{{ user.is_followed.count }}</span>

{% endif %}